#auto-reload yes

bind-key l open
bind-key h quit
bind-key j down
bind-key k up

bind-key J next-unread
bind-key K prev-unread

bind-key G end
bind-key g home
bind-key d pagedown
bind-key u pageup

unbind-key n
unbind-key p

browser w3m

color listnormal blue default
color listfocus cyan black standout
color listnormal_unread yellow default
color listfocus_unread yellow black standout
color info green black
color article blue default

